// NAVIGATION MENU STYLES
.nav-bar {
	position: fixed;
	top: 0;
	height: 60px;
	background-color: $dark-blue;
	width: 100%;
}

.main-nav {
	position: relative;
}

h1#logo {
	background-image: url('../../PUBLIC/images/cooper-logo.png');
	background-repeat: no-repeat;
	float: left;
	margin: 0.625em;
	width: 200px;
	height: 45px;
	clear: both;
	margin-top: 10px;
}

h1#logo span {
	display: none;
}

label.menu-icon {
	background-image: url('../../PUBLIC/images/menu-icon.png');
	background-repeat: no-repeat;
	float: right;
	width: 35px;
	height: 35px;
	margin: 10px 20px;

	@include tablet {
		display: none;
	}
}

label span{
	display: none;
}

.menu-controller {
	display: none;
	visibility: hidden;
}

.menu-controller:checked ~ ul {
	max-height: 1000px;
}

nav ul {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease;
	background-color: $dark-blue;
	position: absolute;
	right: 0px;
	top: 60px;
	display: block;
	width: 100%;

	@include tablet {
		max-height: 60px;
		background-color: transparent;
		top: 0;
		transition: none;
		width: auto;
	}
}

nav li {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 20px;
	text-transform: uppercase;
	font-family: $copy-font;
	font-size: 1.5em;

	@include tablet {
		display: inline-block;
	}
}

a {
	display: block;
	height: 100%;
	width: 100%;

	@include tablet {
		display: inline-block;
		width: auto;
	}
}

a.nav-link {
	color: $salmon;
	text-decoration: none;
}

a:visited {
	color: $salmon;
}

a:hover {
	color: $bright-blue;
	font-weight: 700;
}
